/**
  |============================
  | Root
  |============================
*/

:root {
  --barkBlue: #194484;
  --mediumBlue: #0d6eb7;
  --mediumBlue2: #276ed8;
  --lightBlue: #84b5ff;
  --darkGreen: #06b25f;
  --lightGreen: #66d6a0;
  --darkGrey: #242424;
  --white: #ffffff;

  --primary-font: Montserrat, sans-serif;
  --secondary-font: Open Sans, sans-serif;
  --main-txt-color: #242424;
}

/**
  |============================
  | Reset style
  |============================
*/

body {
  font-family: var(--primary-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**
  |============================
  | Main CSS styles
  |============================
*/
/**
  |============================
  | Header
  |============================
*/
.header {
}
.container {
}
.header-logo {
}
.hdr-logo {
}
.heade-logo-link {
}
.header-logo-txt {
}
.header-nav {
}
.header-list {
}
.header-list-item {
}
.Header-button {
}
/**
  |============================
  | Hero 
  |============================
*/
.hero-section {
}
.hero-background {
}
.hero-area {
}
.hero-title {
}
.hero-txt {
}
.hero-btn {
}
.hero-button {
}
/**
  |============================
  | Second Section
  |============================
*/
.tech-section {
}
.tech-title {
}
.tech-text {
}
.tech-stans-word {
}
.tech-assets-word {
}
.tech-android-btn {
}
.tech-img {
}
.tech-apple-btn {
}
.tech-unity-btn {
}
.tech-txt {
}
.vote-area {
}
.tech-clutch-logo {
}
.revievs-btn {
}
/**
  |============================
  | Third Section
  |============================
*/
.service-section {
}
.services {
}
.services-list {
}
.serv-list {
}
.services-title {
}
.services-txt {
}
.services-img {
}
/**
  |============================
  | Fourth Section
  |============================
*/
.partner {
}
.container {
}
.partner-title {
}
.partner-btn {
}
/**
  |============================
  | Fifth Section
  |============================
*/
.achievements {
}
.achievements-title {
}
.achievements-list {
}
.achievements-things {
}
.achievements-img {
}
.achievements-txt {
}
.achievements-moon-area {
}
.achievements-fifth-area {
}
.achievements-year-area {
}
.achievements-hungread-area {
}
.achievements-five-area {
}
/**
  |============================
  | Sixth Section
  |============================
*/
.partners {
}
.partners-title {
}
.partners-list {
}
.partner-logo-link {
}
.partners-logo {
}
/**
  |============================
  | Seventh Section
  |============================
*/
.contacts {
}
.contacts-main-title {
}
.contacts-title {
}
.contacts-txt {
}
.contacts-list {
}
.address-txt {
}
.contacts-link {
}
.phone-link {
}
.messenger-link {
}
.contacts-mail-fb {
}
.linkedin-link-fb {
}
.contacts-form {
}
.contacts-form-area {
}
.name-form {
}
.footer-input-email {
}
.email-form {
}
.message-form {
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
}
.footer-socials {
}
.footer-logo {
}
.footer-socials-list {
}
.footer-socials-icons {
}
.footer-services-block {
}
.footer-services-list {
}
.footer-services-item {
}
.footer-technologies-block {
}
.footel-technologies-list {
}
.footel-technologies-item {
}
.footel-technologies-link {
}
.footer-additional-list {
}
.footer-additional-item {
}
.footer-additional-link {
}
.footer-about {
}
.footer-about-list {
}
.footer-about-item {
}
.footer-about-link {
}
