:root {
  --barkBlue: #194484;
  --mediumBlue: #0d6eb7;
  --mediumBlue2: #276ed8;
  --lightBlue: #84b5ff;
  --darkGreen: #06b25f;
  --lightGreen: #66d6a0;
  --darkGrey: #242424;
  --white: #ffffff;

  --primary-font: Montserrat, sans-serif;
  --secondary-font: Open Sans, sans-serif;
  --main-txt-color: #242424;
}
